.container-rodapé{
    background-color: rgb(184, 183, 183);
    text-align:center;

}



#cabeçalhoo{
  background-color: rgba(170, 167, 167, 0.349);
}

body{
  
  background-color: rgb(218, 214, 214);
  
}


.título{
float:right
}



#video{
  width: 50%;
  float:left;
  
  
}

#descrição{
  width:100%;

  text-align:center;
}

.descrição{
  width:100%;

  text-align:left;
}

#título{
  float:center;
  text-align:left;
}

.em-destaque{
  margin-top:20px; 
  margin-bottom:20px;
}

#botão{
  float:right;
  
  
}




.ava{
  max-width: 150px;
}



